body {
    background-color: black;
}

div {
    display: flex;
    justify-content: center;
    gap: 15px;
}

div button {
    height: 40px;
    width: 60px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.start-btn {
    background-color: rgb(93, 238, 93);
}

.stop-btn {
    background-color: rgb(211, 27, 27);
}

.reset-btn {

}

h1 {
    text-align: center;
    color: white;
}